[submodule "datasets"]
	path = datasets
	url = https://github.com/kh-mo/datasets
[submodule "anomalydetection"]
	path = anomalydetection
	url = https://github.com/kh-mo/anomalydetection
	branch = develop
